/* $root.ui.tab */
.ui-tab {
border: 1px solid #ccc; background: #fff;
}
.ui-tab ul {
margin: 0; padding: 0; height: 24px; background: #ccc; cursor: pointer;
}
.ui-tab li {
float: left; list-style-type: none; width: auto; padding: 0 6px; height: 100%;
}
.ui-tab li.selected {
background-color: #fff;
}
.ui-tab li {
background-color: #ccc;
}
.ui-tab li a {
padding: 0 0 0 4px; text-decoration: none; color: #fff;
}
.ui-tab .selected a {
color: #000;
}
.ui-tab-content {
clear: both; padding: .5em;
}
.ui-tab-content div {
height: 100%; display: none;
}
.ui-tab-content .selected {
display: block;
}
