/* $root.ui.table */
.ui-table {
border-collapse: collapse; width: 100%;
}
.ui-table table {
border-collapse: collapse; width: 100%;
}
.ui-table {
border: 1px solid #aaa;
}
.ui-table .ui-tbody-loading td {
text-align: center;
}
.ui-table .ui-tbody-nodata td {
text-align: center;
}
.ui-table thead {
text-align: left;
}
.ui-table thead th {
min-width: 3em; white-space: nowrap; padding: 4px;
}
.ui-table thead {
background: url(images/table-header_bg.png) repeat-x 0 0;
}
.ui-table tfoot {
background: url(images/table-header_bg.png) repeat-x 0 0;
}
.ui-table tbody td {
border: 1px solid #ccc; border-left: none; border-right: none; padding: 4px;
}
.ui-table tfoot td {
padding: 4px; text-align: right;
}
.ui-table .ui-tfoot {
text-align: right;
}
.ui-table .ui-tbody-loading {
background: url(images/loading.gif) no-repeat center center; height: 100%;
}
.ui-table-fixhead .body {
height: 500px;
}
.ui-table-fixhead .ui-tbody-loading {
text-align: center; vertical-align: top;
}
.ui-table-fixhead .ui-tbody-nodata {
text-align: center; vertical-align: top;
}
.ui-table .head table {
border: none;
}
.ui-table .head table th {
border: none;
}
.ui-table .body td:first {
border: none;
}
.ui-table .foot table {
border: none;
}
.ui-table .foot table td {
border: none;
}
