/* $root */
html {
color: #000; background: #fff;
}
body {
margin: 0; padding: 0;
}
div {
margin: 0; padding: 0;
}
dl {
margin: 0; padding: 0;
}
dt {
margin: 0; padding: 0;
}
dd {
margin: 0; padding: 0;
}
ul {
margin: 0; padding: 0;
}
ol {
margin: 0; padding: 0;
}
li {
margin: 0; padding: 0;
}
h1 {
margin: 0; padding: 0;
}
h2 {
margin: 0; padding: 0;
}
h3 {
margin: 0; padding: 0;
}
h4 {
margin: 0; padding: 0;
}
h5 {
margin: 0; padding: 0;
}
h6 {
margin: 0; padding: 0;
}
form {
margin: 0; padding: 0;
}
fieldset {
margin: 0; padding: 0;
}
legend {
margin: 0; padding: 0;
}
input {
margin: 0; padding: 0;
}
textarea {
margin: 0; padding: 0;
}
p {
margin: 0; padding: 0;
}
th {
margin: 0; padding: 0;
}
td {
margin: 0; padding: 0;
}
body {
margin: 0; color: #333; background: #fff;
}
table {
border-collapse: collapse; border-spacing: 0;
}
fieldset {
border: 0;
}
img {
border: 0;
}
ol {
list-style: none;
}
ul {
list-style: none;
}
textarea {
overflow: auto; vertical-align: top; resize: none;
}
a {
text-decoration: none;
}
a:hover {
text-decoration: underline;
}
noscript {
display: block; background: #FFFBE1; text-align: center; clear: both; line-height: 2.5; color: #c00; font-size: 12px; font-weight: bold;
}
.noselectable {
-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none;
}
