/* $root */
body{margin: 0;}
/* $root.browser.console */
.ui-console {
	position: fixed;
	width: 100%;
	bottom: 0;
	height: 200px;
	border: 1px solid blue;
	overflow-y: scroll;
	padding:2px;
}

.ui-console-content {
	border: 1px solid #eee;
}

.ui-console-line {
	border-bottom: 1px solid 
}





















/* $root.ui.dialog */
          /* TODO */
/* $root.ui.dialog */
          .ui-alert{
          }

/* $root.ui */
          .ui-control {
              background: #fff;
              margin:0;
              padding:0;
          }
