/* $root.ui.calendar */
.ui-calendar {
font-size: 12px; -webkit-user-select: none;
}
.ui-calendar td {
cursor: pointer; width: 14px; height: 14px;
}
.ui-calendar th {
cursor: pointer; width: 14px; height: 14px;
}
.ui-calendar td:hover {
background: #efefef;
}
.ui-calendar td {
border-left: 1px solid #ccc !important; border-right: 1px solid #ccc !important;
}
.ui-calendar .grayed {
color: #ccc;
}
.ui-calendar .disabled {
cursor: default; text-decoration: line-through; color: #ccc;
}
.ui-calendar .selected {
background: #fdfdac; box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.ui-calendar .today.selected {
background: #fdfdac; box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.ui-calendar .today {
background: #99d2ff; box-shadow: inset 1px 0px 1px rgba(0, 0, 0, 0.2);
}
.ui-calendar-prev-month {
display: inline-block; height: 1em; width: 2em;
}
.ui-calendar-next-month {
display: inline-block; height: 1em; width: 2em;
}
.ui-calendar-prev-month {
border: 1px solid transparent; background: url(images/calendar-prev.png) center center no-repeat; float: left;
}
.ui-calendar-next-month {
border: 1px solid transparent; background: url(images/calendar-next.png) center center no-repeat; float: right;
}
.ui-calendar-menu {
font-size: 12px; min-width: 2em; text-align: center;
}
.ui-calendar-menu .selected {
background-color: #ccc;
}
.ui-calendar-title .select {
margin: 0 0 0 1em; border: 1px solid transparent;
}
.ui-calendar-title .select:hover {
border: 1px solid #ccc;
}
.ui-calendar-prev-month:hover {
border: 1px solid #ccc;
}
.ui-calendar-next-month:hover {
border: 1px solid #ccc;
}
.ui-calendar-dropdown {
background: url(images/calendar-down.png) center center no-repeat; display: inline-block; width: 11px; height: 7px;
}
.ui-calendar-dropdown {
*display: inline;
}
