/* $root.ui.tagInput */
.ui-taginput {
border: 1px solid gray; display: inline-block;
}
.ui-taginput-tag {
display: inline-block; border: 1px solid gray; margin: 1px; +zoom: 1; +display: inline;
}
.ui-taginput-tagtext {
padding: 2px;
}
.ui-taginput-tags {
margin: 2px 0; display: inline;
}
.ui-taginput input {
width: 120px; border: 1px solid #eee; margin: 1px;
}
