/* $root.ui.trackbar */
.ui-trackbar {
position: relative; width: 100%; height: 16px; border: 1px solid red;
}
.ui-trackbar-line {
position: absolute; height: 1px; width: 100%; overflow: visible; background-color: #CCC;
}
.ui-trackbar-handle {
width: 10px; height: 16px; background: gray; position: absolute; left: 0; cursor: pointer;
}
